*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}
.cont-fluide{
    max-width: 100%;
    padding: 0 100px;
}
.row{
    display: flex;
    flex-wrap: wrap !important;
}
.d-none{
    display: none;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-btw{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-items: start;
}
.col-1{
    width: 8.33% ;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width:33.33% ;
}
.col-5{
    width:41.66% ;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width:75% ;
}
.col-10{
    width:83.33% ;
}
.col-11{
    width:91.66% ;
}
.col-12{
    width: 100%;
}
.col-2-5{
    width: 20%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-2-5{
    padding-left: 12px;
    padding-right: 12px;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.j-btw{
    justify-content: space-evenly;
}
.j-end{
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
.mb-3{
    margin-bottom: 2rem;
}
.h-100{
    height: 100%;
}
/* Header Start */
header .logo{
    border-bottom: 1px solid #c7c5c5;
    padding-bottom: 20px;
}
header .logo h1{
    font-size: 65px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    padding-top: 30px;
}
header{
    padding-bottom: 40px;
}
header .menu ul{
    margin-top: 25px;
}
header .menu ul li{
    padding: 0 40px;
}
header .menu ul li a{
    color: #363e50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
/* Header End */
/* hero start */
.hero{
    background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.hero .hero-content{
    color: whitesmoke;
}
.hero .hero-content h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 15px;
}
.hero .hero-content h1{
    font-size: 60px;
    padding-bottom: 10px;
}
.hero .hero-content p{
    text-align: center;
}
.hero .hero-content .btn{
    padding-top: 20px;
}
.hero .hero-content .btn a{
    background-color: rgb(210, 137, 1);
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
/* hero end */
/* Order section start */
.order{
    padding-top: 180px;
}
.order .content{
    background-color:#f2745f;
    width: 100%;
    text-align: center;
}
.order img{
    height: 90%;
    padding-top: 50px;
}
.order .content{
    padding: 0px 30px;
}
.order .content h2{
    padding-top: 40px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.order .content .contact{
    background-color: #fff8f84a;
    padding: 30px;
    margin-top: 15px;
}
.order .content .contact h5{
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.order .content .contact p{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 5px;
}
.order .content h6{
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.order .content .btn{
    margin-top: 25px;
}
.order .content .btn a{
    background-color: whitesmoke;
    padding: 10px 25px;
    color: #f2745f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
/* Order section end */
/* List section start */
.list{
    margin-top: 80px;
}
.list h3{
    margin-top: 10px;
    font-size: 25px;
}
/* List section end */
/* table section start  */
.table{
    background-image: url('../img/book-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    margin-top: 40px;
}
.table h2{
    color: whitesmoke;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.table .form{
    background-color: whitesmoke;
    padding: 15px 30px;
}
.table .form h3{
    font-size: 35px;
    font-style: italic;
    padding: 15px 0px;
}
.table .form select{
    padding: 10px 30px 10px 0px;
    width: 100%;
    border: none;
    margin-top: 15px;
}
.table .form input{
    padding: 10px 30px 10px 0px;
    width: 100%;
    border: none;
    margin-top: 15px;
}
 .table .form .btn{
    background-color: #f2745f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 30px;
    margin: 25px 0px;
 }

.table .form .btn a{
    color: whitesmoke;
}
/* table section end  */
/* app start */
.app{
    background-color: #F2745F;
    padding: 50px 0px;
}
.app-title h2{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 600;
}
.app-btn{
    padding: 15px 0px;
}
.app-btn button{
    padding: 15px 20px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.app-btn button a{
    color: #F2745F;
    font-size: 15px;
}
.p-0{
    padding: 0px;
}
/* app end */
/* food start */
.food{
    padding: 75px 0px;
}
.food-title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.card{
    padding: 30px;
    background-color: #F2F6FF;
    margin-bottom: 20px;
}
.card-title{
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}
.card-body{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.card-img img{
    width: 100%;
}
.card-img{
    position: relative;
}
.card-text{
    padding: 10px 15px;
}
.card-text h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.card-text p{
    color: grey;
    word-spacing: 5px;
    font-size: 18px;
}
.pricetag{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffffffc2;
    padding: 10px 15px;
    color: #F2745F;
    font-size: 20px;
}
/* food end */
/* blog start */
.blog{
    background-color: #F2F6FF;
    padding: 50px 0px;
}
.blog-card-img{
    position: relative;
}
.blog-card-img img{
    width: 100%;
}
.blog-title{
    text-align: center;
    padding-bottom: 40px;
}
.blog-body{
    background-color: #fff;
    padding: 15px ;
}
.blog-body h3{
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: normal;
}
.blog-body span{
    color: gray;
}
.blog-body p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    word-spacing: 5px;
    color: grey;
}
.blog-body h4{
    padding-top: 20px;
    font-size: 15px;
}
.blog-body h4 a{
    text-transform: uppercase;
    color: #F2745F;
}
.pricetag-blog{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffc2;
    padding: 10px 15px;
    color: #F2745F;
    font-size: 20px;
    z-index: 999;
}
/* blog end */
/* signin start */
.signin{
    background-image: url("../img/signup-bg.jpg");
    background-size:cover ;
    height: 300px;
}
.signin-title h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
}
.inemail{
    width: 60%;
    padding: 10px 15px;
    margin-right: 15px;
}
.signin-btn{
    padding: 10px 15px;
    border: 1px solid white;
    background-color: transparent;
}
.signin-btn a{
    color: white;
}
/* signin end */
/* footer start */
footer{
    background-color: #363e50;
}
.f-1,.f-2,.f-3{
    padding: 50px 0px;
}
.f-1 p{
    color: white;
    text-align: center;
}
.f-3 p{
    color: white;
    text-align: center;
}
ul{
    list-style: none;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: 1.5s;
}
.icon a i{
    color: #363e50;
}
.icon:hover{
    background-color: #F2745F;
}
/* footer end */